#seach_value{
  margin-top: 10px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555;
  display: block;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 77%;
  display: inline;
}
#clear-filter{
  margin-bottom: 3px;
  text-align: center;
  width: 20%;
  color: #000;
}
#clear-filter:hover{
  color: #000;
}
#popup_assign{
  left: 0px;
  z-index: 9999;
  width: 100%;
  top: 0px;
  height: 100%;
  position: fixed;
}
#popup_assign .row {
    left: 50%;
    position: absolute;
    top: 50%;
    width: 100%;
}
#popup_assign .popup_bg{
  left: 0px;
  width: 100%;
  top: 0px;
  background-color: rgb(0, 0, 0);
  opacity: 0.6;
  height: 100%;
  position: fixed;
}
.busy{
  color:#d9534f;
  cursor: pointer;
}
.avaliable{
  color:#5cb85c;
  cursor: pointer;
}
.valign_mid{
  vertical-align:middle !important;
}
label {
  display: inline-block;
  width: 5em;
}
